* {
  padding: 1px;
  margin: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  align-items: center;
  }
  h1 {
  color: #556B2F;
  }
  
  h2 {
    color: #556B2F;
    }
    